<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.uni.student.dbdo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingList">
        <activity
            android:name="lu.uni.student.dbdo.activities.Item.ItemEditActivity"
            android:exported="false"
            android:label="@string/item_edit_action_title" />
        <activity
            android:name="lu.uni.student.dbdo.activities.List.ListEditActivity"
            android:exported="false"
            android:label="@string/list_edit" />
        <activity
            android:name="lu.uni.student.dbdo.activities.Item.ItemActivity"
            android:exported="false"
            android:label="@string/list_items" />
        <activity
            android:name="lu.uni.student.dbdo.activities.List.ListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>